/*Stylesheet for rebuilding the google homepage*/

body {
  font-family:Arial, sans-serif;
  height:100%
}

#wrapper{
  min-height:100%;
  position:relative;
}

.h_i,.f_i {
  display:inline-block;
  line-height:24px;
}
#header{
  padding:10px 30px 10px 10px;
  height:60px;
}
#header_r {
  float:right;
  vertical-align:middle;
}
div#header_r div a img {
  position:relative;
  top:10px;
}
div#header_r div div#h_si {
  border: 1px solid #4285F4;
  font-weight: bold;
  font-color:white;
  outline: medium none;
  background-color: #4387FD;
}
#header a{
  color:#5E5656;
  font-size:13px;
}
#h_si a {
  font-weight: bold;
  color:white;
  text-align:center;
  line-height:28px;
}
.h_i {
  margin-left:15px;
}
#header a:hover {
  color:black;
  text-decoration:underline;
}
#h_si a:hover {
  color:white;
  text-decoration:none;
}
#center{
  text-align:center;
  clear:both;
  padding:10px;
  padding-bottom: 35px;
}
#glogospace {
  height:231px;
  margin-top:20px;
  clear:both;
}
#glogo{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-top:112px;
}
#searchbox{
  width:300px;
}

#footer {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0px;
  left:0px;

  border-top: 1px solid #E4E4E4;
  background-color:#F2F2F2
}
#fbar {
  background-color:#F2F2F2
  padding:6px;
  line-height: 35px;
  min-width: 980px;
}
div#f_l{
  float:left;
}
div#f_r {
  float:right;
}
div#f_l a, div#f_r a{
  color: #666;
  font-size: 10pt;
}

.f_i {
  padding-left: 27px;
  margin: 0px !important;
}

div#fbar div#f_l a.f_i {
  color: #5B5B58;
}
